.annotationContainer {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    color: var(--annotation-color);
    pointer-events: none;
    z-index: 50;
}

.contentWrapper {
    position: relative;
    display: inline-block;
}

.underlineSvg {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 16px;
    margin-top: -4px;
}

.handwrittenText {
    font-family: var(--slide-font-handwritten);
    font-size: var(--annotation-size, 32px);
    font-weight: 400;
    line-height: 1.1;
    white-space: nowrap;
    transform-origin: center;
}

.arrowSvg {
    position: absolute;
    width: 60px;
    height: auto;
    overflow: visible;
}