/* Badge styles */

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-4);
  padding: 2px 10px;
  border-radius: var(--radius-100);
  border: 1px solid;
}

.badge--default {
  border-color: var(--color-black-500);
  color: var(--color-black-700);
}

.badge--dark {
  border-color: var(--color-black-700);
  color: var(--color-black-700);
}

.badge--light {
  border-color: var(--color-white);
  color: var(--color-white);
}

.badge__content {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  color: inherit;
}

